extends layout

block scripts
  script(type="text/javascript" src="/javascripts/vendors/jquery-2.2.4.min.js")
  script(type="text/javascript" src="/javascripts/vendors/jquery-ui.min.js")
  script(type="text/javascript" src="/javascripts/vendors/jquery.flip.min.js")
  script(type="text/javascript" src="/javascripts/vendors/semantic.min.js")
  script(type="text/javascript" src="/javascripts/settings.js")
  script(type="text/javascript" src="/javascripts/components.js")
  script(type="text/javascript" src="/javascripts/errors.js")
  script(type="text/javascript" src="/javascripts/dropdown.js")
  script(type="text/javascript" src="/javascripts/flickr-weather.js")
  script(type="text/javascript" src="/javascripts/application.js")

block content


  .row.container
    .col.s4
      .ui.fluid.search.selection.dropdown.upward
        input(type="hidden" name="country" data-wu-key="#{wuKey}" data-flickr-key="#{flickrKey}")
        i.dropdown.icon
        .default.text Select Country
        .menu
  #display
    .front.display-side.teal.accent-1.z-depth-2
      img.flickr-image.z-depth-1
      h4
      p
    .back.display-side.teal.accent-1.z-depth-2
      img.flickr-image.z-depth-1
      h4
      p
