extends layout

block scripts
  script(type="text/javascript" src="/javascripts/jquery-2.2.4.min.js")
  script(type="text/javascript" src="/javascripts/jquery.flip.min.js")
  script(type="text/javascript" src="/javascripts/application.js")

block content
  .row
    form.col.s12
      .input-field.col.s6
        input(name="city" type="text")
      .input-field.col.s6
        input(type="submit").waves-effect.waves-light.btn
  #image-display
    .front.display-side.green.accent-2 Hello
    .back.display-side.light-blue.accent-2 Goodbye
