body {
  font-family: Roboto;
}

#image-display {
  margin: 100px auto;
  height:400px;
  width: 400px
}

.display-side {
  height:400px;
  width:400px;
  padding:20px;
  text-align:center;
}

.front {

}

.back {
}
