body {
  font-family: Roboto;
}

#display {
  margin: 100px auto;
  height:500px;
  width: 700px
}



.display-side {
  height:500px;
  width:700px;
  padding:20px;
  text-align:center;
}

.front {

}

.back {
}
img.flickr-image {
  width: 95%;
}
#select1 {
  width:200px
  height:200px;
}

.ui.dropdown {
  margin: 30px;
}
